html {
  overflow: scroll;
}

body {
  padding: 20px;
  overflow: scroll;
}

[ng-view] {
  text-align: center;
}

button {
  display: inline-block;
}

textarea {
  display: block;
  margin: 5px;
}

form {
  margin-top: 2em;
}

.actionbar {
  width: 100%;
}

/*
.actionbar .glyphicon-home {
}
*/

.actionbar .glyphicon-edit {
  color: rgb(138, 211, 108);
}

.actionbar .glyphicon-lock {
  color: rgb(189, 189, 189);
}

.actionbar .glyphicon-trash {
  color: rgb(255, 142, 142);
}

.actionbar .glyphicon-user {
  color: #80C4FF;
}

.actionbar .glyphicon {
  font-size: 6rem;
  padding: 2rem;
}

.header #actionbar .glyphicon {
  font-size: 2rem;
  padding: 1rem;
}

.actionbar > ul {
  text-align: center;
}

.vhcentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.hcentered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vcentered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.badge-overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

.header {
  text-align: center;
  padding-top: 1rem;
}

.header .badge-overlay {
  top: 0;
  right: 0;
  font-size: 0.5em;
}

.header .glyphicon {
  font-size: 1.5em;
  padding: 0.5em;
}

/*.footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
*/
.wordwrap {
  word-wrap: break-word;
}

.form-group {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.document {
  overflow: scroll;
  text-align: left;
  color: rgb(182, 120, 120);
  background: rgb(242, 242, 242);
  padding: 1em;
  border: rgb(226, 225, 223) 1px solid;
  white-space: pre;
}

.signature {
  overflow: scroll;
  text-align: left;
  font-size: 0.7em;
  color: rgb(255, 255, 255);
  background: rgba(155, 157, 97, 0.71);
  padding: 1em 1.5em;
  border: rgb(226, 225, 223) 1px solid;
  white-space: pre;
}

[data-bgtext] {
  position: relative;
}

[data-bgtext]:after {
  content: attr(data-bgtext);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: rgba(0, 0, 0, 0.12);
  font-size: 4em;
  transform: translateY(-50%) translateX(-50%);
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}