<div ng-controller="SignCtrl">
  <div ng-include src="'templates/menu.html'" class="header"></div>
  <div class="fs-overlay fs-overlay-black" ng-show="signing == true">
    <span class="vhcentered">SIGNING</span>
  </div>
  <form>
    <h3 class="header">
      Sign as <kbd>{{req.alias}}</kbd> ?
    </h3>
    <div class="form-group">
      <div class="document">{{req.doc}}</div>
    </div>
    <div class="form-group wordwrap" ng-show="req.sig">
      <div class="signature" data-bgtext="SIGNATURE">{{req.sig}}</div>
    </div>
    <div class="form-group" ng-show="!req.sig">
      <textarea class="form-control" ng-change="validateMnemonic()" placeholder="Enter the mnemonic for account: {{req.alias}}" ng-model="req.mnemonic" style="margin: 0;"></textarea>
    </div>
    <div class="btn-group btn-group-justified" role="group" ng-show="!req.sig">
      <div class="btn-group" role="group">
        <button class="btn btn-primary" ng-show="!req.sig" ng-click="sign()" ng-disabled="!mnemonicValid || !mnemonicVerified">Sign</button>
      </div>
      <div class="btn-group" role="group">
        <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" ng-show="req.sig">
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success" ng-show="req.sig" ng-click="send()">Send</button>
      </div>
      <div class="btn-group" role="group">
        <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </div>
    <div class="error" ng-show="error" style="margin-top: 1em;">
      <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
  </form>
</div>