<form ng-controller="SignCtrl">
  <h3 class="header">{{title}}</h3>
  <div class="form-group">
    <div class="document">{{req.doc}}</div>
  </div>
  <div class="form-group wordwrap" ng-show="req.sig">
    <div class="signature" data-bgtext="SIGNATURE">{{req.sig}}</div>
  </div>
  <div class="form-group" ng-show="!req.sig" style="position:relative;"> <!-- position:relative to let validationIcon show well -->
    <textarea class="form-control" ng-change="validateMnemonic()" placeholder="to sign, please enter the mnemonic from which your keys are derived" ng-model="req.mnemonic"></textarea>
    <span ng-show="req.mnemonic.length" class="validationIcon glyphicon glyphicon-{{mnemonicValid ? 'ok' : 'remove'}}" style="color: {{mnemonicValid ? 'green' : 'red' }}"></span>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" ng-show="!req.sig" ng-click="sign()" ng-disabled="!mnemonicValid">Sign</button>
    <button type="submit" class="btn btn-success btn-block" ng-show="req.sig" ng-click="send()">Send</button>
    <button type="cancel" class="btn btn-default btn-block" ng-click="cancel()">Cancel</button>
  </div>
  <!--div class="error" ng-show="error">
    {{error}}
  </div-->
</form>
<div ng-include src="'templates/footer.html'" class="footer hcentered"></div>
